@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  src: url('dm-mono-v5-latin-regular.eot');
  src: local(''),
       url('dm-mono-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('dm-mono-v5-latin-regular.woff2') format('woff2'),
       url('dm-mono-v5-latin-regular.woff') format('woff'),
       url('dm-mono-v5-latin-regular.ttf') format('truetype'),
       url('dm-mono-v5-latin-regular.svg#DMMono') format('svg');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('dm-sans/dm-sans-v6-latin-regular.eot');
  src: local(''),
       url('dm-sans/dm-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('dm-sans/dm-sans-v6-latin-regular.woff2') format('woff2'),
       url('dm-sans/dm-sans-v6-latin-regular.woff') format('woff'),
       url('dm-sans/dm-sans-v6-latin-regular.ttf') format('truetype'),
       url('dm-sans/dm-sans-v6-latin-regular.svg#DMSans') format('svg');
}

body {
	height: 100%;
    margin: 0;
	font-family: 'DM Mono';
	color: #FFA599;
	background-color: #000000;
	max-width: 100%;
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

:root{
	--scrollred: calc(var(--scrollpos)/101 * 105 + (1 - var(--scrollpos)/101) * 255);
	--scrollgreen: calc(var(--scrollpos)/101 * 186 + (1 - var(--scrollpos)/101) * 165);
	--scrollblue: calc(var(--scrollpos)/101 * 221 + (1 - var(--scrollpos)/101) * 153);
	--scrollcolor: rgb(var(--scrollred),var(--scrollgreen),var(--scrollblue));
}

.indexwrap {
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	background-color: #000000;
	background-clip: content-box;
}

.navback-1 {
	width:100vw;
	height: 6em;
	background-color: #000000;
	position: fixed;
	z-index: 2;
}

.navback-2 {
	top: 6em;
	width:100vw;
	height: 2em;
	background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
	position: fixed;
	z-index: 2;
}

.aboutwrap {
	padding-left:30px;
	padding-right:30px;
	background-color: #000000;
	background-clip: content-box;
	min-height:calc(100vh - 1em);
}

.workwrap {
	padding-left:30px;
	padding-right:30px;
	background-color: #000000;
	background-clip: content-box;
	min-height:calc(100vh - 1em);
}

.miscwrap {
	padding-left:30px;
	padding-right:30px;
	background-color: #000000;
	background-clip: content-box;
	min-height:calc(100vh - 1em);
}

.textrow {
	padding-top: 10px;
	padding-bottom: 10px;
}

.index-textrow {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	width: 64em;
}

.companies{
	width: 68em;
}

.textrowb {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #000000;
	opacity: 1;
	background-size: 8px 8px;
	background-image: repeating-linear-gradient(135deg, #33211f 0, #33211f 0.8px, #000000 0, #000000 50%);
}

.portrow{
	padding-left:0.5rem;
	padding-right:0.5rem;
}

.spacer {
	width: 0.5rem;
}

.hspacer {
	width: 0.5rem;
	height: 0.5rem;
}

.flex-container, .img-flex-container, .rev-img-flex-container {
	display: flex;
}

.stackflex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	width:100%;
	padding-top:8px;
	padding-bottom:8px;
	align-items: center;
	border: 4px solid #33211f;
	opacity:0;
	--all:0px;
}

.stackflex-container:hover {
	border: 4px solid #FFA599;
	--b: #FFA599;
	box-shadow: 0 0 8px 2px #FFA599;
	transition: 0.15s;
}

.archstackflex-container {
	display: flex;
	justify-content: center;
}

.archstackflex-container-col {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.archflex {
	display: flex;
	justify-content: center;
	align-items:center;
}

.flex-child {
	flex: 1;
}

a.nav {
	color: #FFA599;
	text-decoration: none;
}

a.nav:hover {
	text-shadow: 0px 0px 8px #FFA599;
	transition: 0.15s;
}

a.tiffany {
	color: #81D8D0;
	text-decoration: none;
}

a.tiffany:hover {
	text-shadow: 0px 0px 8px #81D8D0;
	transition: 0.15s;
}

a.tu_delft {
	color: #00A6D6;
	text-decoration: none;
}

a.tu_delft:hover {
	text-shadow: 0px 0px 8px #00A6D6;
	transition: 0.15s;
}

a.brown_edu {
	color: #ED1C24;
	text-decoration: none;
}

a.brown_edu:hover {
	text-shadow: 0px 0px 8px #ED1C24;
	transition: 0.15s;
}

a:active {
  color: inherit;
}

html {
	scroll-behavior: smooth;
	cursor: none !important;
}

a, button {
	cursor: none !important;
}

html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.ballcursor {
    pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	mix-blend-mode: difference;
	z-index: 1000;
    fill: #FFA599; 
	width: 24px;
	height: 24px;
	opacity: 0;
} 

.portitem{
	max-height:auto;
	max-width:33.25em;
	color: #FFA599; 
}

.portlink{
	text-decoration: none;
}

.architem{
	height:auto;
	width:48.975%;
	border: 4px solid #33211f;
}

.architem:hover{
	border: 4px solid #FFA599;
	box-shadow: 0 0 8px 2px #FFA599;
}

.architem-col{
	height:auto;
	width:70%;
	border: 4px solid #33211f;
}

.architem-col:hover{
	border: 4px solid #FFA599;
	box-shadow: 0 0 8px 2px #FFA599;
}

.approachitemport{
	display: block;
	text-align:center;
	flex-wrap: wrap;
	position: relative;
	width:100%;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:16px;
	align-items: center;
}

.tripleportimg{
	position: relative;
	z-index:0;
	aspect-ratio:4/3;
	width:88%;
	max-width:31.25em;
	max-height:23.75em;
	padding:4px;
	object-fit: cover;
}

.archimg{
	position: relative;
	z-index:0;
	aspect-ratio:4/3;
	width:25vw;
	max-width:31.25em;
	padding:4px;
	object-fit: cover;
}

span.info {
	color:#69BADD;
	width:8rem;
	flex-shrink: 0;
}

.summary {
	font-size:1.25em;
	line-height:160%;
	display: flex;
	gap: 1rem;
}

span.headline {
	color:#FFA599;
	font-family: 'DM Mono';	
}

span.mono {
	font-family: 'DM Mono';	
}

.imgborder {
  padding:0.5rem;
}

.sideimg{
	max-width: 50%;
}

.sideimghrestrict{
	height: 20vw;
}

.porttext {
	color:#69BADD;
	font-size:1em;
	line-height:160%;
	max-width:500px;
	font-family: 'DM Sans';	
	margin-left: 40px;
    text-indent: -40px;
}

.anchor {
    display: block;
    height: 34px;
    margin-top: -34px;
    visibility: hidden;
}

.fadeanchor {
    display: block;
    height: 34px;
    margin-top: -34px;
    visibility: hidden;
}

span.blue {
	color:#69BADD;
}

span.darkblue {
	color:#006494;
}

span.peach {
	color:#FFA599;
}

span.white {
	color:#FFFFFF;
}

span.nowrap {
	display:inline-block;
}

.tablechecks {
	text-align:center;
	font-size: 1em;
	color:#FFA599;
}

#topbtn {
	bottom: 34px;
	right: 34px;
	z-index: 99;
	border: none;
	outline: none;
	text-decoration: underline;
	font-family: 'DM Mono';
	background-color: #000000;
	color: #FFA599;
	padding-top: 15px;
	padding-bottom: 40px;
	font-size: 1.5em;
	height:48px;
	width: 216px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#topbtn:hover {
	text-shadow: 0px 0px 8px #FFA599;
	transition: 0.15s;
}

.domain::before {
    content: "\0040";
}
 
.collapsible {
	background-color: #000000;
	border: none;
	text-align: left;
	outline: none;
	font-family: 'DM Mono';
	color: #FFA599;
	padding-left: 8px;
}

.collapsible:hover {
	text-shadow: 0px 0px 8px #FFA599;
	transition: 0.15s;
}

.active:hover {
  	text-shadow: 0px 0px 8px #FFA599;
	transition: 0.15s;
}

.content {
  display: none;
  overflow: hidden;
}

.collapsible:before {
	content: "+";
}

.active:before {
	content: "-";
}

.hamburger{
	position: fixed;
	top: 32px;
	left: 85%;
	background-color: rgba(0, 0, 0, 0.4);
	width: 60px;
	border: none;
	text-align: center;
	outline: none;
	font-family: 'DM Mono';
	color: #FFA599;
	display:none;
	z-index:5;
	font-size:2em;
	line-height:140%;
	font-weight: bold;
}

.hamburger:hover {
  color: #33211f;
}

.hamburger:before {
	content: "\2630";
}

.hamactive:before {
	content: "\00D7";
}

.mobile{
	display:none;
}

.midsize{
	display:none;
}

.desktop{
	display:block;
}

.desktop-flex{
	display:flex;
	align-items: center;
	justify-content: center;
}

.date{
	color:#69BADD;
	font-size:1.125em;
	line-height:160%;
}

.title{
	font-size:2.8125em;
	line-height:160%;
}

.blip{
	color:#69BADD;
	font-size:1.25em;
	line-height:160%;
}

.stitle{
	font-size:2.25em;
	line-height:160%;
	font-weight: bold;
}

.nstitle{
	font-size:2.25em;
	line-height:160%;
	font-weight: bold;
	padding-left:8px;
}

.nstitle:before {
	content: ">";
}

.fortuneswap {
	height: 808px;
}

.smallgif{
	width:60%;
}	

span.rotated{
	transform: rotate(90deg);
}

#thbutton {
	border: none;
	text-align: left;
	outline: none;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'DM Mono';
	color: #FFA599;
	font-size:1em;
	line-height:140%;
	text-decoration: underline;
	display:flex;
}

span.uhov:hover{
	text-decoration: underline;
	text-shadow: 0px 0px 8px #FFA599;
	transition: 0.15s;
}

.modal {
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #000000;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hmodal {
display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
  background-color: #000000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vmodal {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.vmodal-content {
  background-color: #000000;
  margin: auto;
  padding: 4px;
  width: 80%;
}

.vmodalclose {
  color: #FFA599;
  float: right;
  padding-right: 8px;
  font-size: 1.75em;
  font-weight: bold;
}

.vmodalclose:hover,
.vmodalclose:focus {
  color: #33211f;
  text-decoration: none;
}

table, th, td {
  border: 4px solid #006494;
  padding: 4px;
  font-size: 0.75em;
}

table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}

.loadfade{
  animation: fadeIn linear 0.4s;
  animation-fill-mode: forwards;
}

.loadfade2{
  animation: fadeIn linear 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.lfdelay{
	opacity:0;
	animation-delay: 1000ms;
}

.dark{
	background-size: cover;
	background-image:linear-gradient(#69BADD 50%, #FFA599 80%);
	margin:auto;
	background-attachment: fixed;
	width:fit-content;
}

span.dark{
	color:#ffffff;
	background: #000000;
	mix-blend-mode: darken;
	margin:auto;
	position: relative;
	top: -40%;
	border-left:0.1em solid #000000;
	border-right:0.1em solid #000000;
	overflow:visible;
}

.fixed-top {
  display: flex;
  position: fixed;
  z-index: 4;
}

.headername {
	font-size:2em;
	line-height:150%;
	padding-top: .1em;
}

.headernav {
	font-size:1.5em;
	line-height:220%;
}

.stucknav{
	font-size: 20px;
	background-size: 8px 8px;
	text-wrap: pretty;
	background-image: repeating-linear-gradient(135deg, #33211f 0, #33211f 0.8px, #000000 0, #000000 50%);
	display: block;
}

.stucknav:hover{
	text-shadow: 0px 0px 8px #FFA599;
}

.stuckanchor {
    display: block;
	padding-top: 44px;
    height: 44px;
    margin-top: -88px;
    visibility: hidden;
	padding-bottom:10px;
	width: 10px;
}

.stuckcontainer {
	display:flex;
	align-items: start;
	gap: 24px;
}

.stucknav-container{
	display:flex;
	flex-direction:column;
	margin-top: 36px;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	flex-shrink: 0;
	top: 120px;
	gap: 12px;
	width: 160px;
	min-width: 10vw;
}

.stuckcolumn{
	width: 90vw;
}

.portblip{
	width:48%;
	margin-left:2em;
}

.portblip-img{
	width:46vw;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.portblip-flex{
	display:flex;
	align-items:center;
}

.teamhide{
	float:right;
	text-wrap: wrap;
	text-align:left;
	flex-grow: 1;
}



::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #FFA599;
}

::-webkit-scrollbar-thumb:hover {
  background: #99635C;
}	

@media screen and (max-width: 1200px){
	.stackflex-container{
		flex-direction: column;
	}
	.img-flex-container {
		flex-direction:column;
	}
	.rev-img-flex-container {
		flex-direction:column-reverse;
	}
	.archstackflex-container{
		flex-direction: column;
	}
	.portitem{
		height:auto;
		max-width:25em;
	}
	.architem{
		width:100%;
	}
	.archimg{
		width:100%;
	}
	#blampediag{
		width:80%;
	}
	.comp-index{
		display:none;
	}
	.index-textrow{
		width: 30em;
	}
	.stuckcolumn{
		max-width: 70%;
	}
	.midsize{
		display: block;
	}
}

@media screen and (max-width: 850px){
	.hamburger{
		display: block;
	}
	.mobile{
		display: block;
	}
	.desktop{
		display: none;
	}
	.desktop-flex{
		display: none;
	}
	.barnav{
		display: none;
	}
	.flex-container {
		flex-direction:column;
	}
	.porttext {
    text-indent: 0px;
	}
	.fortuneswap {
    height: auto;
	}
	.smallgif{
	width:100%;
	}	
	.architem{
	width:100%;
	}
	#topbtn {
    display: none;
	}
	body{
		font-size: 2.5vw;
	}
	#blampediag{
		width:100%;
	}
	.stucknav{
		display:none;
	}
	.sideimg{
	max-width:60vw;
	}
	.stuckcontainer {
		gap:0;
	}
	.stucknav-container{
		display:none;
	}
	.stuckcolumn{
		max-width:100%;
	}
	.portblip{
		width: auto;
		margin-left: 0;
	}
	.portblip-img{
		width:85vw;
	}
	.portblip-flex{
		display:block;
	}
}

@media screen and (max-width: 850px),
	screen and (max-height: 500px),
	(pointer:none){
	.hamburger{
		display: block;
	}
	.mobile{
		display: block;
	}
	.desktop{
		display:none;
	}
	.desktop-flex{
		display:none;
	}
	.barnav{
		display: none;
	}
	.flex-container {
		flex-direction:column;
	}
	.porttext {
    text-indent: 0px;
	}
	.fortuneswap {
    height: auto;
	}
	.smallgif{
	width:100%;
	}	
	.archflex {
	flex-wrap:wrap;
	}
	.architem{
	width:100%;
	}
	#topbtn {
    display: none;
	}
	body{
		font-size: 2.5vw;
	}
	.stuckcontainer {
		gap:0;
	}
	.stucknav-container{
		display:none;
	}
	.stuckcolumn{
		max-width:100%;
	}
	.portblip{
		width: auto;
		margin-left: 0;
	}
	.portblip-img{
		width:85vw;
	}
	.portblip-flex{
		display:block;
	}

@media (hover: none), (pointer: coarse) {
  .ballcursor {
    display: none !important;
  }
}
}