@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  src: url('dm-mono-v5-latin-regular.eot');
  src: local(''),
       url('dm-mono-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('dm-mono-v5-latin-regular.woff2') format('woff2'),
       url('dm-mono-v5-latin-regular.woff') format('woff'),
       url('dm-mono-v5-latin-regular.ttf') format('truetype'),
       url('dm-mono-v5-latin-regular.svg#DMMono') format('svg');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('dm-sans/dm-sans-v6-latin-regular.eot');
  src: local(''),
       url('dm-sans/dm-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('dm-sans/dm-sans-v6-latin-regular.woff2') format('woff2'),
       url('dm-sans/dm-sans-v6-latin-regular.woff') format('woff'),
       url('dm-sans/dm-sans-v6-latin-regular.ttf') format('truetype'),
       url('dm-sans/dm-sans-v6-latin-regular.svg#DMSans') format('svg');
}

body {
	height: 100%;
    margin: 0;
	font-family: 'DM Mono';
	color: #FFA599;
	background-color: #000000;
	max-width: 100%;
	overflow-x: hidden;
}
	
.wrap {
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	background-color: #000000;
	background-clip: content-box;
}

.header {
	width: calc(100% - 64px);
	height: 30px;
	position: fixed;	
	top: 0;
	margin-left: 34px;
	margin-right: 26px;
	background-color: #000000;
	z-index:1;
}

.header-spacer {
	width: calc(100% - 64px);
	height: 30px;
	position: static;	
	top: 0;
	margin-left: 34px;
	margin-right: 26px;
}

.header-box {
	width: calc(100%);
	height: 30px;
	position: fixed;	
	top: 0;
	background-color: #000000;
	z-index:2;
}

.footer {
	width: calc(100% - 64px);
	height: 30px;
	position: fixed;	
	bottom: 0;
	margin-left: 30px;
	margin-right: 38px;
	background-color: #000000;
	z-index:1;
}	

.footer-box {
	width: calc(100%);
	height: 30px;
	position: fixed;	
	bottom: 0;
	background-color: #000000;
	z-index:2;
}

.textrow {
	padding-top: 10px;
	padding-bottom: 10px;
}

.textrowb {
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2378c0e0' fill-opacity='0.48' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.titlerow {
	padding:0px;
}

.spacerrow {
	padding:0px;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2378c0e0' fill-opacity='0.48' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.portrow{
	padding-left:8px;
	padding-right:8px;
}

.divider {
	width: 4px;
	margin: 0;
	background-color: #006494;
}

.spacer {
	width: 8px;
	margin: 0;
}

.flex-container {
	display: flex;
}

.stackflex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.flex-child {
	flex: 1;
}

.topleftcut:before {
    content: '';
    position: fixed;
    top: 20px; left: 20px;
    border-top: 8px solid #000000;
    border-right: 8px solid #FFA599;
    width: 0;
	z-index:3;
}

.bottomrightcut:before {
    content: '';
    position: fixed;
    bottom: 20px; right: 20px;
    border-bottom: 8px solid #000000;
    border-left: 8px solid #FFA599;
    width: 0;
	z-index:3;
}

a.nav {
	color: #FFA599;
	text-decoration: none;
}

a.nav:hover {
	color: #824C71;
}

a.link {
	color: #FFA599;
}

a:visited, a:active {
  color: inherit;
}

a.link:hover {
	color: #824C71;
}

html {
	scroll-behavior: smooth;
}

.hide {
	display: none;
}

.portitem{
	max-height:auto;
	max-width:532px;
}

.portitem:hover + .hide {
	display: block;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

span.white {
	color:#FFFFFF;
}

span.info {
	color:#69BADD;
}

.summary {
	font-size:1.25em;
	line-height:160%;
}

span.headline {
	color:#FFA599;
	font-family: 'DM Mono';	
}

span.mono {
	font-family: 'DM Mono';	
}

.imgborder {
  padding:8px;
}

.porttext {
	color:#69BADD;
	font-size:1em;
	line-height:160%;
	max-width:500px;
	font-family: 'DM Sans';	
	margin-left: 40px;
    text-indent: -40px;
}
.anchor {
    display: block;
    height: 34px;
    margin-top: -34px;
    visibility: hidden;
}

span.blue {
	color:#69BADD;
}

span.peach {
	color:#FFA599;
}


.tablechecks {
	text-align:center;
	font-size: 1.25px;
}

#topbtn {
	bottom: 34px;
	right: 34px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2378c0e0' fill-opacity='0.48' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	color: #FFA599;
	cursor: pointer;
	padding-top: 15px;
	padding-bottom: 40px;
	font-size: 1.5em;
	height:48px;
	width: 216px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#topbtn:hover {
	color: #824C71;
}

.domain::before {
    content: "\0040";    /* Unicode character for @ symbol */
}
 
.collapsible {
	background-color: #000000;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-family: 'DM Mono';
	color: #FFA599;
	padding-left: 8px;
}

.collapsible:hover {
  color: #824C71;
}

.active:hover {
  color: #824C71;
}

.content {
  display: none;
  overflow: hidden;
}

.collapsible:before {
	content: "+";
}

.active:before {
	content: "-";
}

.hamburger{
	position: fixed;
	top: 50px;
	left: 85%;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	width: 60px;
	border: none;
	text-align: center;
	outline: none;
	font-family: 'DM Mono';
	color: #FFA599;
}

.hamburger:before {
	content: "\2630";
}

.hamactive:before {
	content: "\00D7";
}

span.rotated{
	transform: rotate(90deg);
}

@media screen and (max-width: 1200px){
	.stackflex-container{
		flex-direction: column;
	}
	.portitem{
		height:auto;
		max-width:400px;
	}

}

.modal {
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow: hidden;
}

.modal-content {
  background-color: #000000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.vmodal {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.vmodal-content {
  background-color: #000000;
  margin: auto;
  padding: 4px;
  width: 80%;
}

.vmodalclose {
  color: #FFA599;
  float: right;
  padding-right: 8px;
  font-size: 1.75em;
  font-weight: bold;
}

.vmodalclose:hover,
.vmodalclose:focus {
  color: #824C71;
  text-decoration: none;
  cursor: pointer;
}

table, th, td {
  border: 4px solid #006494;
  padding: 4px;
  font-size: 0.75em;
}

table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}

@media screen and (max-width: 850px){
	.modal{
		display: block;
	}
	.flex-container {
		flex-direction:column;
	}
	.porttext {
		text-indent: 0px;
	}
	body{
		font-size: 2.5vw;
		text-size-adjust: none;
	}
}

@media screen and (max-width: 850px),
	screen and (max-height: 500px),
	(pointer:none),
	(pointer:coarse){
	.modal{
		display: block;
	}
	.flex-container {
		flex-direction:column;
	}
	.porttext {
    text-indent: 0px;
}
	body{
		font-size: 2.5vw;
	}
}